<div class="container">
  <form>
    <h2>
      Criar/Editar sala
    </h2>
    <div class="mb-3">
      <label class="form-label">Número da sala</label>
      <input (change)="changeNumber($event)" type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Capacidade máxima</label>
      <input (change)="changeCapacity($event)" type="number" class="form-control">
      <label class="form-label">Prédio</label>
      <input (change)="changeBuilding($event)" type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Tipo</label>
      <input (change)="changeType($event)" type="text" class="form-control">
    </div>

    <button (click)="clickButton()" type="button" class="btn-primary">
      <img src="../../assets/icons/right-icon.png" width="20" height="20" />
      <span class="">Salvar</span>
    </button>
  </form>

</div>
